.menu-div {
    width: 100%;
    height: 72px;
    background-color: rgba(255, 255, 255, 0.892);
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 90%;
    z-index: 1;
    margin: 1%;
}

.align-objects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
}

.link-impressum-div {
    width: 22.5%;
    text-align: center;
}

.link-impressum {
    width: 22.5%;
    color: rgb(72, 72, 72);
    font-size: 20px;
    font-weight: 600;
    font-family: "Pokemon-Hollow";
    text-decoration: none;
    cursor: pointer;
}

.link-impressum:hover {
    text-decoration: none;
    color: rgb(180, 180, 180);
}

.pokeball-div {
    width: 22.5%;
}

.headline-img {
    height: 62px;
    width: 100%;
    object-fit: contain;
}

.menu-burger-svg {
    fill: rgb(195, 0, 0);
    height: 42px;
    width: 100%;
    cursor: pointer;
}

.menu-burger-svg:hover {
    filter: brightness(2);
}

@media (max-width:1024px) {
    .pokeball-div {
        width: 20%;
    }

    .link-impressum-div {
        display: none;
    }

    .menu-burger-div {
        width: 20%;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:400px) {
    .menu-div {
        height: 150px;
    }

    .align-objects {
        justify-content: center;
    }

    .small-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .headline-img {
        width: auto;
    }
}

@media (min-width:1024px) {
    .menu-burger-div {
        display: none;
    }
}