body {
    margin: 0;
}

h2 {
    font-size: 30px;
}

.text-align-center {
    text-align: center;
}

.pokedex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.pokedex-div {
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    padding: 10px;
    margin: 10px;
}

.pokedex-name-type {
    padding-left: 40px;
}

.pokedex-types-div {
    display: flex;
    flex-direction: column;
}

.pokedex-types {
    width: 80px;
    background-color: #ddddddb8;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.pokemon-img {
    height: 200px;
    width: 200px;
}

.pokedex-info-div {
    display: flex;
    align-items: center;
}

.pokedex-info {
    height: 280px;
    min-width: 500px;
    color: white;
    display: flex;
    padding: 24px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.info-container-head {
    display: flex;
    align-items: flex-start;
}

.close-arrow {
    height: 50px;
    cursor: pointer;
}

.arrow-right {
    height: 50px;
    cursor: pointer;
}

.arrow-left {
    height: 50px;
    cursor: pointer;
}

.info-container-detail {
    background-color: white;
    border-radius: 40px;
    margin-top: -40px;
    padding-top: 80px;
    padding-bottom: 40px;
}

.pokemon-detail-profil {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
}

.info-container {
    min-width: 500px;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.info-container.is-visible {
    display: flex;
    flex-direction: column;
    background-color: #484848bf;
}

.pokemon-img-info {
    width: 400px;
    object-fit: contain;
    margin-top: -150px;
    margin-left: 80px;
}

.types-info {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.height-and-weight {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.progress-bar {
    max-width: 300px;
    background-color: green;
}